body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .container{
    color: white;
    background-color:#07011b;
    
  }
  
  .logo{
    margin-right: auto;
    padding: 20px;
  }
  .top{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
  
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 20px;
    
  }
  a{
    text-decoration: none;
    color: white;
     
  }
  .top_links li a{
    transition: all 0.3s ease 0s;

  }
  .top_links li a:hover{
  color: rgb(231, 26, 26);
  }
    
  .awesome{
    display: flex;
    margin: 20px;
    height: 300px;
   flex-direction: column;
    
  }
  
  img{
    height: 200px;
    width: 400px;
    margin: -220px 500px ;
    padding-top: 10px;
    
  }
  button{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    box-shadow: 4px blue;
    width: 80px;
    height: 25px;
    border-radius: 8px;
  }

  h2{
    text-align: center;
  }
  